<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto</title>
    <link rel="stylesheet" href="Styles/style.css">
</head>
<body>
    <div id="backgroundcrypto">
        <div id="cryptosres">
            
            <form action="/crypto" method="get">
                <div id="cryptobuttondiv">
                    <button class = "cryptoButton" >Crypto Prices</button>
                </div>
                <% for (let i=0; i< content.length; i++){ %>
            
            <div id="crypto-all1">
            <div id="crypto-single">
                <h3> Symbol = <%= content[i].symbol %> </h3>
                <p> Price in 24 hours = $<%= content[i].price_24h %> </p>
                <p> Volume sold in 24 hours = <%= content[i].volume_24h %> </p>
                <p> Last Trade Price = $<%= content[i].last_trade_price %> </p>
            </div>
            </div>
            
            <%  } %> 
            </form>
        
        </div>
    </div>
</body>
</html>